= simple_form_for @post do |f|
  = f.input :image, required: true
  = f.input :title, required: true
  = f.input :link, required: true, hint: "Hint: Start with http://"
  = f.input :description, required: true

  = f.button :submit